language: node_js
sudo: false
node_js:
- '8'

branches:
  only:
    - master

install:
  - npm install

script:
  - npm run build:lib
  - npm run build:demo:prod

cache:
  directories:
    - ./node_modules/
