<!--The content below is only a placeholder and can be replaced.-->
<div class="start-page">
	<h1>Welcome to app!</h1>
	<p>This will be the demo application of the User Interface Toolkit by Wampe.</p>
	<p>Here will be examples of all features in the future.</p>

	For information and the status of the project you can visit <br> <a href="https://github.com/Wampe/uit" target="_blank">https://github.com/wampe/uit</a>
	<p>This paragraph should now available after a first try with Travis CI deployment</p>
</div>