<uit-shell>
	<uit-site-header>User Interface Toolkit - Playground</uit-site-header> 
	<uit-navigation name="navigation" #test>
		<uit-navigation-item *ngFor="let item of navigation"
													[label]="item.label"
													[path]="item.path">
		</uit-navigation-item>
	</uit-navigation> 
	<router-outlet></router-outlet>
	<form #form="ngForm">

		<uit-group-box header="I am a header">
			Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.


		<uit-button>feifjofe</uit-button>
		
		<uit-checkbox name="checkbox" ngModel>Checkbox</uit-checkbox>
		<uit-checkbox name="checkbox2" ngModel>Checkbox 2</uit-checkbox>
		<uit-radio-group name="radio-group" ngModel>
			<uit-radio-button name="zutat" value="Cheese">Option 1</uit-radio-button>
			<uit-radio-button name="zutat" value="Bacon">Option 2</uit-radio-button>
			<uit-radio-button name="zutat" value="Tomato">Option 3</uit-radio-button>
		</uit-radio-group> 
	</uit-group-box>
		<uit-textbox name="testbox" label="Text 1" [min]="1" [max]="10" [minlength]="1" [maxlength]="100" step="1.75" type="number" [(ngModel)]="textValue" #textinput></uit-textbox>
		<uit-textbox name="testboxRequired" [required]="true" [type]="email" email label="Required Textbox" [(ngModel)]="requiredText"></uit-textbox>
		
		<uit-textbox name="testboxmail" [(ngModel)]="email" email type="email" label="email"></uit-textbox>
		<uit-textbox name="testboxpassword" type="password" updateSource="propertyChanged" [(ngModel)]="password" label="pw"></uit-textbox>
		<uit-textbox name="testbox4" label="Text 2" type="text" disabled [(ngModel)]="textValue2" #textinput></uit-textbox>
		<uit-textbox name="testbox2" isMultiline="true" type="number" label="Text 3" type="text" [required]="true" [(ngModel)]="textValue3" #textinputfocus></uit-textbox>

	</form>
	<pre>{{ form.value | json }}</pre> 
	<!-- <pre>{{ form.checkbox2.isChecked | json }}</pre> -->
	<!-- <pre>	{{ test.value | json}}</pre> -->

<br>
	ProeprtyChanged 
	<br>
	NgMOdel: {{ textValue }}
	<br><br>
	Disabled <br>
	NgMOdel: {{ textValue2 }}
	<br><br>
	LostFocus <br>
	NgModel: {{ textValue3 }}
	<uit-site-footer>Version: 0.0.0</uit-site-footer>  
</uit-shell>
