<uit-shell>
	<uit-site-header>User Interface Toolkit - Playground</uit-site-header> 
	<uit-navigation name="navigation">
		<uit-navigation-item 	*ngFor="let item of navigation"
								[label]="item.label"
								[path]="item.path">
		</uit-navigation-item>
	</uit-navigation> 
	<!-- <uit-group-box> -->
		<uit-button>BUTTON</uit-button>
		<uit-button>BUTTON</uit-button>
		<uit-button>BUTTON</uit-button>
		<uit-button disabled>BUTTON</uit-button>
		<uit-toggle-button>TOGGLEBUTTON</uit-toggle-button>
	<!-- </uit-group-box> -->

	<!-- <router-outlet></router-outlet>
	<form #form="ngForm">
		<uit-group-box header="TreeView">
			<uit-tree-view [items]="treeView" name="Tree_View" ngModel></uit-tree-view>
			<pre>{{ form.value | json }}</pre> 
		</uit-group-box>

		
	</form> -->

	<uit-list-box [items]="listItems" name="List_Box" ngModel>
	</uit-list-box>

	<uit-site-footer>Version: 0.11.0</uit-site-footer>  
</uit-shell>
