<!--The content below is only a placeholder and can be replaced.-->
<div class="start-page">
	<h1>Welcome to app!</h1>
	<p>This will be the playground application of the User Interface Toolkit by Wampe.</p>
	<p>This area is for test and playing with the implementations. This will be an area of chaos!</p>
	<uit-button clickMode="press" (clicked)="hello()">I am a button element</uit-button>
	<uit-button clickMode="release" (clicked)="hello()">I am a button element</uit-button>
	<uit-toggle-button (clicked)="hello()">I am a toggle button element</uit-toggle-button>
</div>