<uit-shell>
	<uit-site-header>User Interface Toolkit - Playground</uit-site-header> 
	<uit-navigation>
		<uit-navigation-item>Item</uit-navigation-item>
		<uit-navigation-item>Item</uit-navigation-item>
		<uit-navigation-item>Item</uit-navigation-item>
		<uit-navigation-item>Item</uit-navigation-item>
		<uit-navigation-item>Item</uit-navigation-item>
		<uit-navigation-item>Item</uit-navigation-item>
		<uit-navigation-item>Item</uit-navigation-item>
		<uit-navigation-item>Item</uit-navigation-item>
		<uit-navigation-item>Item</uit-navigation-item>
		<uit-navigation-item>Item</uit-navigation-item>
		<uit-navigation-item>Item</uit-navigation-item>
	</uit-navigation>
	<uit-site-footer>Version: 0.0.0</uit-site-footer>  
</uit-shell>
