/* You can add global styles to this file, and also import other style files */
@import 'node_modules/@wampe/uit/core/themes/default';

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0;
	justify-content: center;
}

.start-page {
	text-align: center;
}